{% extends "base.html" %}

{% block content %}
    <h1>トップ画面</h1>

    {% if user.is_authenticated %}
        <li><a href="{% url 'twitterclone:post_new' %}" class="act">Add Post</a></li>
    {% endif %}

    {% for post in post_list %}
    <a href="{% url 'twitterclone:detail' post.pk %}">
       <p>{{post.text}}</p>
       <p>#{{post.tag}}</p>
       <p>{{post.published_date}}</p>
    </a>
<p>by <a href="{% url 'accounts:profile' user_id=post.author.id %}">{{post.author}}</a></p>
       <hr>

    {% endfor %}
{% endblock %}