{% extends "base.html" %}
{% block content %}
    <h2>{{user.username}}</h2>
    <a href="{% url 'accounts:profile' pk=user.id %}"><p>ユーザーページへ戻る</p></a>
    <p>{% load friendshiptags %}</p>
    <p>フォロー</p>
    <ul>
        {% for following in followings %}
            <li>{{following}}</li>
        {% endfor %}
    </ul>
    <p>フォロワー</p>
    <ul>
        {% for follower in followers %}
            <li>{{follower}}</li>
        {% endfor %}
    </ul>
    {% if user == request.user %}
        <p>フォロー申請中</p>
        <ul>
            {% for requesting_follow in requesting_follows %}
                <li>{{requesting_follow.to_user}}</li>
            {% endfor %}
        </ul>
        <br>
        <p>フォローリクエスト</p>
        <ul>
            {% for requested_follow in requested_follows %}
                <li>{{requested_follow.from_user}}</li>
                    <form action="{% url 'accounts:accept' pk=requested_follow.from_user.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="accept" value="accept">
                    </form>
                    <form action="{% url 'accounts:reject' pk=requested_follow.from_user.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="reject" value="reject">
                    </form>
            {% endfor %}
        </ul>
        <br>
        <p>ブロック中</p>
        {% blocking user %}
    {% endif %}

{% endblock %}