{% extends 'base.html' %}
{% block content %}

<h1 class="text-center my-5">{{ user.username }}のページ</h1>

{% if not user == login_user %}
  <form action="{% url 'accounts:follow' pk=user.id %}" method="post">
  {% csrf_token %}
  {% if friends == False %}
    {% if not user == requesting_follows.to_user  %}
        <input type="submit" name="request_follow" value="フォローリクエスト">
    {% endif %}
  {% endif %}

  {% if user == requesting_follows.to_user  %}
      <input type="submit" name="remove_follow" value="フォローリクエスト取り消し">
  {% endif %}
  {% if friends == True or user in following == True %}
      <input type="submit" name="not_follow" value="フォロー解除">
  {% endif %}
  </form>

  <form action="{% url 'accounts:block' pk=user.id %}" method="post">
      {% csrf_token %}
      {% if not blocking_user == True %}
        <input type="submit" name="block" value="ブロック">
      {% else %}
        <input type="submit" name="remove_block" value="ブロック解除">
      {% endif %}
  </form>
{% endif %}
  <br>
  <br>
  <a href="{% url 'accounts:info' pk=user.id %}"><p>ユーザー詳細情報</p></a>


    <p>お気に入りツイート</p>
    <ul>
        {% for like_post in like_posts %}
            <a href="{% url 'twitterclone:detail' pk=like_post.post.id %}">
                <li>{{like_post.post}}</li>
            </a>
        {% endfor %}
    </ul>

    <p>自分のツイート</p>
     {% for post in posts %}
     <a href="{% url 'twitterclone:detail' pk=post.id %}">
       <div class="card m-4" style="min-width: 300px; max-height: 490px;">
         <div class="card-body">
           <p class="card-text">
             {{ post.text}}
           </p>
           <p>#{{post.tag}}</p>
           <p>{{post.created_at}}</p>
         </div>
        </div>
     {% endfor %}
 </a>

{% endblock %}