{% extends 'base.html' %}
{% block content %}

<h1 class="text-center my-5">{{ user.username }}のページ</h1>

 <form action="{% url 'accounts:profile' user_id=user.id %}" method="post">
  {% csrf_token %}
  {% if not user == request.user %}
      {% if not friends == True %}
        {% if user in requesting_follows == False %}
            <input type="submit" name="request_follow" value="request_follow">
        {% endif %}
      {% else %}
         <input type="submit" name="remove_follow" value="remove_follow">
      {% endif %}
         <br>
      {% if not blocking_user == True %}
        <input type="submit" name="block" value="ブロック">
      {% else %}
        <input type="submit" name="remove_block" value="ブロック解除">
      {% endif %}
  {% endif %}
  <br>
  <br>
  <a href="{% url 'accounts:info' user_id=user.id %}"><p>ユーザー詳細情報</p></a>
  </form>

    <p>お気に入りツイート</p>
    <ul>
        {% for like_post in like_posts %}
            <a href="{% url 'twitterclone:detail' pk=like_post.post.id %}">
                <li>{{like_post.post}}</li>
            </a>
        {% endfor %}
    </ul>

    <p>自分のツイート</p>
     {% for post in user %}
     <a href="{% url 'twitterclone:detail' pk=post.id %}">
       <div class="card m-4" style="min-width: 300px; max-height: 490px;">
         <div class="card-body">
           <p class="card-text">
             {{ post.text}}
           </p>
           <p>#{{post.tag}}</p>
           <p>{{post.created_at}}</p>
         </div>
        </div>
     {% endfor %}
 </a>

{% endblock %}