{% extends 'base.html' %}
{% block content %}

<h1 class="text-center my-5">{{ user.username }}のページ</h1>

 <form action="{% url 'accounts:profile' user_id=user.id %}" method="post">
  {% csrf_token %}
  {% if not user == request.user %}
      {% if not friends == True %}
        <input type="submit" name="request_follow" value="request_follow">
      {% else %}
         <input type="submit" name="remove_follow" value="remove_follow">
      {% endif %}
         <br>
      {% if not blocking_user == True %}
        <input type="submit" name="block" value="ブロック">
      {% else %}
        <input type="submit" name="remove_block" value="ブロック解除">
      {% endif %}
  {% endif %}
  </form>
    <p>{% load friendshiptags %}</p>
    <p>フォロー</p>
    <ul>
        {% for following in followings %}
            <li>{{following}}</li>
        {% endfor %}
    </ul>
    <p>フォロワー</p>
    <ul>
        {% for follower in followers %}
            <li>{{follower}}</li>
        {% endfor %}
    </ul>
    {% if user == request.user %}
        <p>フォロー申請中</p>
        <ul>
            {% for requesting_follow in requesting_follows %}
                <li>{{requesting_follow.to_user}}</li>
            {% endfor %}
        </ul>
        <br>
        <p>フォローリクエスト</p>
        <ul>
            {% for requested_follow in requested_follows %}
                <li>{{requested_follow.from_user}}</li>
                <form action="{% url 'accounts:profile' user_id=user.id %}">
                    <input type="hidden" name="ed_follow" value="requested_follow.from_user">
                    <input type="submit" name="accept" value="accept">
                </form>
                <form action="{% url 'accounts:profile' user_id=user.id %}">
                    <input type="hidden" name="ed_follow" value="requested_follow.from_user">
                    <input type="submit" name="reject" value="reject">
                </form>
            {% endfor %}
        </ul>
        <br>
        <p>ブロック中</p>
        {% blocking user %}
    {% endif %}

    <p>お気に入りツイート</p>
    <ul>
        {% for like_post in like_posts %}
            <a href="{% url 'twitterclone:detail' pk=like_post.post.id %}">
                <li>{{like_post.post}}</li>
            </a>
        {% endfor %}
    </ul>

    <p>自分のツイート</p>
     {% for post in posts%}
     <a href="{% url 'twitterclone:detail' pk=post.id %}">
       <div class="card m-4" style="min-width: 300px; max-height: 490px;">
         <div class="card-body">
           <p class="card-text">
             {{ post.text}}
           </p>
           <p>#{{post.tag}}</p>
           <p>{{post.created_at}}</p>
         </div>
        </div>
     {% endfor %}
 </a>

{% endblock %}