{% extends 'base.html' %}
{% block content %}

<h1 class="text-center my-5">{{ user.username }}のページ</h1>

 <form action="{% url 'accounts:profile' user_id=user.id %}" method="post">
  {% csrf_token %}
  {% if not user == request.user %}
      {% if not friends == True %}
        <input type="submit" name="request-follow" value="フォロー申請" onclick="disabled = true;">
      {% else %}
         <input type="submit" name="remove-follow" value="フォロー解除" onclick="disabled = true;">
      {% endif %}
         <br>
      {% if not blocking_user == True %}
        <input type="submit" name="block" value="ブロック">
      {% else %}
        <input type="submit" name="remove_block" value="ブロック解除">
      {% endif %}
  {% endif %}
</form>
 <p>{% load friendshiptags %}</p>
    <p>フォロー</p>
    {% following user %}
    <p>フォロワー</p>
    {% followers user %}
    <p>フォロー申請中</p>
    {% for request_follow in request_follows %}
        {{request_follow}}
    {% endfor %}
    <br>
    <p>フォローリクエスト</p>
    {% for requested_follow in request_follows %}
        {{requested_follow}}
    {% endfor %}
    {% if user == request.user %}
        <input type="submit" name="accept" value="accept">
    {% endif %}
    <br>
    <p>ブロック中</p>
    {% blocking user %}

    <p>お気に入りツイート</p>
    <ul>
        {% for like_post in like_posts %}
            <a href="{% url 'twitterclone:detail' pk=like_post.post.id %}">
                <li>{{like_post.post}}</li>
            </a>
        {% endfor %}
    </ul>

    <p>自分のツイート</p>
     {% for post in posts%}
     <a href="{% url 'twitterclone:detail' pk=post.id %}">
       <div class="card m-4" style="min-width: 300px; max-height: 490px;">
         <div class="card-body">
           <p class="card-text">
             {{ post.text}}
           </p>
           <p>#{{post.tag}}</p>
           <p>{{post.created_at}}</p>
         </div>
        </div>
     {% endfor %}
 </a>

{% endblock %}