{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}twitterclone</title>
</head>
<body>
<div class="container">
    <header>
        <p class="site-name"><a href="{% url 'twitterclone:index' %}">Twitter Clone</a></p>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:logout' %}" class="logout">Logout</a></li>
                    <li><a href="{% url 'accounts:profile' pk=user.id %}" class="profile">Profile</a></li>
                    <li><a href="{% url 'accounts:index' %}" class="index">Users</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:create' %}" class="signup">Sign up</a></li>
                    <li><a href="{% url 'accounts:login' %}" class="login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>